<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroCliente</servlet-name>
        <servlet-class>Servlets.CadastroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAvalicao</servlet-name>
        <servlet-class>Servlets.CadastroAvalicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaClientes</servlet-name>
        <servlet-class>Servlets.ListaClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaAvaliacao</servlet-name>
        <servlet-class>Servlets.BuscaAvaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaResultados</servlet-name>
        <servlet-class>Servlets.BuscaResultados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroCliente</servlet-name>
        <url-pattern>/CadastroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAvalicao</servlet-name>
        <url-pattern>/CadastroAvalicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaClientes</servlet-name>
        <url-pattern>/ListaClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaAvaliacao</servlet-name>
        <url-pattern>/BuscaAvaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaResultados</servlet-name>
        <url-pattern>/BuscaResultados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
